{# app/Resources/views/base.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
{% endblock stylesheets %}

{% block body %}    
    
    <div class="container">
        <div class="row voffset3">
            <div class="col-md-8">
            <h3>Select the text you want to annotate</h3>
            {% for text in texts %}
                <div class="in-a-box">
                    Title of text: <em>{{ text.title }}</em><br/>
                    {% if text.description %}
                        Description: <em>{{ text.description }}</em>
                    {% endif %}
                    <div class="voffset2">
                        <a href="{{ path('document_show', {'id': text.id } ) }}" class="btn btn-default" role="button">Annotate</a>
                        <a href="{{ path('select_mark', {'id': text.id } ) }}" class="btn btn-default" role="button">Annotate by marker</a>
                        <a href="{{ path('select_category', {'id': text.id } ) }}" class="btn btn-default" role="button">Annotate by category</a>
                        
                        {% if is_granted('ROLE_ADMIN')  %}
                            <a href="{{ path('reannotate', {'id': text.id } ) }}" class="btn btn-default pull-right" role="button">Re-process</a>
                        {% else %}
                            <a href="{{ path('reannotate', {'id': text.id } ) }}" class="btn btn-default pull-right disabled" role="button">Re-process</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>    
    
{% endblock %}
