{# app/Resources/views/base.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
{% endblock stylesheets %}

{% block body %}    
    <style>
        #dLabel {
            font-size: 50%;
        }
        .dropdown-menu {
            font-size: 10px;
            min-width: 0px;
        }
    </style>
    
    <div class="container">
        <div class="row voffset3">
            <div class="col-md-8">
            <h3>Select the text you want to annotate</h3>
            <div id="texts">
            {% for text in corpus.texts %}
                <div class="in-a-box">
                    <div class="dropdown pull-right">
                        {% if text.id in pinned %}
                            <span class="glyphicon glyphicon-pushpin right-margin-1em" aria-hidden="true" title="Text pinned"></span>
                        {% endif %}
                            
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            {% if text.id in pinned %}
                                <li><a class="unpin-text" data-text="{{ text.id }}">Unpin text</a></li>
                            {% else %}
                                <li><a class="pin-text" data-text="{{ text.id }}">Pin text</a></li>
                            {% endif %}
                            <li><a>Mark done</a></li>
                        </ul>
                    </div>
                    
                    Title of text: <em>{{ text.title }}</em><br/>
                    {% if text.description %}
                        Description: <em>{{ text.description }}</em>
                    {% endif %}
                    <div class="voffset2">
                        <a href="{{ path('document_show', {'id': text.id } ) }}" class="btn btn-default" role="button">Annotate</a>
                        <a href="{{ path('select_mark', {'id': text.id } ) }}" class="btn btn-default" role="button">Annotate by marker</a>
                        <a href="{{ path('select_category', {'id': text.id } ) }}" class="btn btn-default" role="button">Annotate by category</a>
                        
                        {% if is_granted('ROLE_ADMIN')  %}
                            <a href="{{ path('reannotate', {'id': text.id } ) }}" class="btn btn-default pull-right" role="button">Re-process</a>
                        {% else %}
                            <a href="{{ path('reannotate', {'id': text.id } ) }}" class="btn btn-default pull-right disabled" role="button">Re-process</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
            </div>
        </div>
    </div>    
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/corpus_operations.js') }}"></script>
{% endblock %}