{# app/Resources/views/base.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/annotator.css') }}" rel="stylesheet">
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link href="{{ path('annotation_css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}    
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ title }}</h2>
                <div id="maindoc">
                    {% for token_style in tokens_style %}
                        {% if token_style[0].getnewlinebefore %}
                            <br/><br/>
                        {% endif %}
                        <span id="{{ token_style[0].id }}" class="{{ token_style[1] }}">{{ token_style[0] }}</span>
                    {% endfor %}
                </div>                
            </div>
        </div>
        <div id="tag-attributes" class="navbar navbar-fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <button id="close-annotation-area" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Metadiscourse marker:</strong> <span id="marker"></span><br/><br/>
                        <strong id="current-annotation-label">Current annotation:</strong> <span id="current-annotation"></span><br/>
                    </div>
                    <div class="col-md-6">
                        <label for="comment">Notes:</label> <textarea id="comment" name="comment" rows="2" cols="60"></textarea><br/>
                        <div class="voffset1" style="width:100%">
                            <div style="float: left; width: 50%"><label for="primary-category">Category:</label> <select id="primary-category"></select></div>                            
                            <div id="subcategory-div" style="float: right; width: 50%"><label for="secondary-category">Sub-category:</label> <select id="secondary-category"></select></div>
                        </div>
                        
                    </div>
                    <div class="col-md-2">
                        <a id="update-annotation" class="btn btn-default disabled" role="button">Update annotation</a><br/>
                        <p id="message-area" class="text-center"></p>
                    </div>
                </div>
                <div class="row voffset3">
                    <div class="col-md-8">
                    <h4>Change annotation</h4>
                    </div>
                </div>
                
                <div class="row voffset3">
                    <div class="col-md-4">
                        <p><a id="not-marker" class="btn btn-default" role="button">Not metadiscourse marker!</a></p>
                    </div>
                    <div class="col-md-8">
                        <label for="list-senses">Select sense:</label> <select id="list-senses"></select>
                    </div>
                </div>                                    
                                        
                <input id="tok_id" name="tok_id" type="hidden" value=""/>
                <input id="mark_id" name="mark_id" type="hidden" value=""/>
                <input id="sense-id" name="sense-id" type="hidden" value="" />
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/annotation.js') }}"></script>
{% endblock %}


