{# app/Resources/views/base.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/annotator.css') }}" rel="stylesheet">
    <link href="{{ path('annotation_css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}    
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ title }}</h2>
                <div id="maindoc">
                    {% for token_style in tokens_style %}
                        {% if token_style[0].getnewlinebefore %}
                            <br/><br/>
                        {% endif %}
                        <span id="{{ token_style[0].id }}" class="{{ token_style[1] }}">{{ token_style[0] }}</span>
                    {% endfor %}
                </div>                
            </div>
        </div>
        <div id="tag-attributes" class="navbar navbar-fixed-bottom">
            <div class="container">
                <div>
                    <strong>Metadiscourse marker:</strong> <span id="marker"></span><br/>
                    <strong>Current annotation:</strong> <span id="current-annotation"></span><br/>
                    <strong>Notes:</strong> <input id="comment" name="comment" type="text" />
                    <br/><br/>
                    <p>To change the current annotation select on of the following senses</p>
                    <strong>Senses:</strong> <div id="list-senses"></div>
                                        
                    <input id="tok_id" name="tok_id" type="hidden" value=""/>
                    <input id="mark_id" name="mark_id" type="hidden" value=""/>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/annotation.js') }}"></script>
{% endblock %}


