{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/annotator.css') }}" rel="stylesheet">
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link href="{{ path('annotation_css') }}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />    
    
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script type="text/javascript">
        var callFunction = null;
        {% if token is not null %}
            callFunction = {{ token }};
        {% endif %}
    </script>
{% endblock stylesheets %}

{% block body %}    
    <div class="container">
        {% include 'misc/menu.html.twig' with {'link': 'home'} %}
        
        <div class="row">
            <div class="col-md-8">
                <h2>{{ text.title }}</h2>
                    {% block mainblock %}{% endblock %} 
            </div>
                    
            <div style="padding-left: 4em;" class="col-md-4 voffset5">
                <div class = "panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#text-tab">Text</a></li>
                        <li><a data-toggle="tab" href="#display-tab">Display</a></li>                        
                        <li><a data-toggle="tab" href="#operations-tab">Operations</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="display-tab" class="tab-pane fade voffset2">                    
                            <div id="selectors" class="voffset3">
                                <div id="filter-by-senses">
                                    <input type="checkbox" 
                                           data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="danger"
                                           data-width="80" data-size="small">
                                    <span style="padding-left:2em;">Filtering by senses</span>
                                </div>
                                
                                <div  class="voffset2"><strong>Select which markers to highlight</strong></div>

                                <ul>
                                {% for key,marker in markers %}
                                    <li class="mk-group voffset2">
                                        <input class="mk-filter" id="mk-{{ marker[0].text|replace({' ':'-'})|lower }}" type="checkbox" checked="true" 
                                               data-toggle="toggle" data-on="All" data-off="None" data-onstyle="success" data-offstyle="danger"
                                               data-width="80" data-size="small">
                                        <span>{{ marker[0].text }}</span>
                                        <ul class="sense-group">
                                            {% for sense in marker[0].senses %}
                                            <li class="voffset1">
                                                <input class="sn-filter" id="sn-{{ sense.id}}" type="checkbox" checked="true" 
                                                       data-toggle="toggle" data-on="Display" data-off="Hide" data-onstyle="success" data-offstyle="danger"
                                                       data-width="80" data-size="mini">
                                                <span class="sense{{ sense.id }}">{{ marker[0].text }}</span>
                                            </li>
                                            {% endfor %}
                                            <li class="voffset1">
                                                <input class="sn-filter" id="an-{{ marker[0].text|replace({' ':'-'})|lower }}" type="checkbox" checked="true" 
                                                       data-toggle="toggle" data-on="Display" data-off="Hide" data-onstyle="success" data-offstyle="danger"
                                                       data-width="80" data-size="mini">
                                                <span>Not annotated</span>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>                            
                        </div>                    

                        <div id="text-tab" class="tab-pane fade in active voffset2">
                            <div class="voffset1"><strong>Title:</strong> {{ text.title }}</div>
                            <div class="voffset1">
                                <strong>Description:</strong><br/>
                                <em>{{ text.description }}</em>
                            </div>
                            <div class="voffset1">
                                <strong>Statistics:</strong><br/>
                                <ul>
                                {% for key,marker in markers %}
                                    <li>{{ marker[0].text }}: {{marker[2]}}/{{marker[1]}}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div id="operations-tab" class="tab-pane fade voffset2">
                            <a id="add-markable" class="btn btn-default" role="button">Add markable</a>
                            <div id="reprocess" class="voffset4">
                                Do not forget to 
                                <a class="btn btn-default" role="button" href="{{ path('reannotate', {'id': text.id } ) }}">reprocess</a>
                                the document after you finished adding all the missing markables.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tag-attributes" class="navbar navbar-fixed-bottom">
            {% include 'Annotator/annotation_panel.html.twig' %}
        </div>
    </div>
        
        <div id="pointer" style="position: absolute; display: none; font-size: 3em;">
            <span class="red glyphicon glyphicon-hand-left" aria-hidden="true"></span>
        </div>
                    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/annotation.js') }}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
{% endblock %}
