{# app/Resources/views/base.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/annotator.css') }}" rel="stylesheet">
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link href="{{ path('annotation_css') }}" rel="stylesheet">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script type="text/javascript">
        var callFunction = null;
        {% if token is not null %}
            callFunction = {{ token }};
        {% endif %}
    </script>
{% endblock stylesheets %}

{% block body %}    
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ text.title }}</h2>
                <div id="maindoc">
                    {% for token_style in tokens_style %}
                        {% if token_style[0].getnewlinebefore %}
                            <br/><br/>
                        {% endif %}
                        <span id="{{ token_style[0].id }}" class="{{ token_style[1] }}">{{ token_style[0] }}</span>
                    {% endfor %}
                </div>                
            </div>
                
            <div style="padding-left: 4em;" class="col-md-4 voffset5">
                <div class = "panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#text-tab">Text</a></li>
                        <li><a data-toggle="tab" href="#display-tab">Display</a></li>                        
                        <li><a data-toggle="tab" href="#operations-tab">Operations</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="display-tab" class="tab-pane fade voffset2">                    
                            <div id="selectors" class="voffset3">
                                <div id="filter-by-senses">
                                    <input type="checkbox" 
                                           data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="danger"
                                           data-width="80" data-size="small">
                                    <span style="padding-left:2em;">Filtering by senses</span>
                                </div>
                                
                                <div  class="voffset2"><strong>Select which markers to highlight</strong></div>

                                <ul>
                                {% for key,marker in markers %}
                                    <li class="mk-group voffset2">
                                        <input class="mk-filter" id="mk-{{ marker[0].text|replace({' ':'-'})|lower }}" type="checkbox" checked="true" 
                                               data-toggle="toggle" data-on="Display" data-off="Hide" data-onstyle="success" data-offstyle="danger"
                                               data-width="80" data-size="small">
                                        <span>{{ marker[0].text }}</span>
                                        <ul class="sense-group">
                                            {% for sense in marker[0].senses %}
                                            <li class="voffset1">
                                                <input class="sn-filter" id="sn-{{ sense.id}}" type="checkbox" checked="true" 
                                                       data-toggle="toggle" data-on="Display" data-off="Hide" data-onstyle="success" data-offstyle="danger"
                                                       data-width="80" data-size="mini">
                                                <span class="sense{{ sense.id }}">{{ marker[0].text }}</span>
                                            </li>
                                            {% endfor %}
                                            <li class="voffset1">
                                                <input class="sn-filter" id="an-{{ marker[0].text|replace({' ':'-'})|lower }}" type="checkbox" checked="true" 
                                                       data-toggle="toggle" data-on="Display" data-off="Hide" data-onstyle="success" data-offstyle="danger"
                                                       data-width="80" data-size="mini">
                                                <span>Not annotated</span>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>                            
                        </div>                    

                        <div id="text-tab" class="tab-pane fade in active voffset2">
                            <div class="voffset1"><strong>Title:</strong> {{ text.title }}</div>
                            <div class="voffset1">
                                <strong>Description:</strong><br/>
                                <em>{{ text.description }}</em>
                            </div>
                            <div class="voffset1">
                                <strong>Statistics:</strong><br/>
                                <ul>
                                {% for key,marker in markers %}
                                    <li>{{ marker[0].text }}: {{marker[1]}} {{marker[2]}}</li>
                                {% endfor %}
                                </ul>
                        </div>

                        <div id="operations-tab" class="tab-pane fade voffset2">
                            <a id="add-markable" class="btn btn-default" role="button">Add markable</a>
                            <div id="reprocess" class="voffset4">
                                Do not forget to 
                                <a class="btn btn-default" role="button" href="{{ path('reannotate', {'id': text.id } ) }}">reprocess</a>
                                the document after you finished adding all the missing markables.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tag-attributes" class="navbar navbar-fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <button id="close-annotation-area" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
                <div class="row">
                    <div style="border: black thin dotted;" class="col-md-12">
                        <div id="context"></div>
                    </div>
                </div>
                
                <div class="row voffset3">
                    <div class="col-md-5 current-annotation">
                        <div id="annotation-message">Annotation</div>
                        <p class="voffset3"><a id="not-marker" class="btn btn-default" role="button">Not metadiscourse marker!</a></p>
                        <p id="list-senses-container"><label class="voffset3" for="list-senses">Select sense:</label> <select id="list-senses"></select></p>
                        <div id="explanation"></div>
                    </div>
                    
                    <div class="col-md-6">
                        <label for="comment">Notes:</label> <textarea id="comment" name="comment" rows="3" cols="60"></textarea><br/>
                        <div class="voffset2" style="width:100%;">
                            <div style="display: inline-block;"><label for="primary-category">Category:</label> <select id="primary-category"></select></div>                            
                            <div id="subcategory-div" style="display: inline-block;"><label for="secondary-category">Sub-category:</label> <select id="secondary-category"></select></div>
                        </div>
                        <div class="voffset2" style="width:100%">
                            <div style="display: inline-block;">
                                <label for="polarity">Polarity:</label>
                                <input type="text" size="2" id="polarity" readonly style="border:0; background-color: #f5f5f5; ">                                
                            </div>
                            <div style="display: inline-block; padding-left: 2em;" id="slider"></div>
                            <div style="display: inline-block; padding-left: 2em;">
                                <label for="uncertain">Uncertain/problematic case:</label>
                                <input type="checkbox" id="uncertain">
                            </div>
                            <div><p id="message-area" class="text-center"></p></div>

                        </div>
                    </div>
                    
                </div>                
                
                <div class="row voffset3">                   
                    <div class="col-md-12 .text-center">
                        <a id="update-annotation" class="btn btn-default disabled" role="button">Save changes</a>
                        <a id="next" class="btn btn-default" role="button">Next markable</a>
                        <a id="previous" class="btn btn-default" role="button">Previous markable</a>
                    </div>
                </div>
                                                
                                        
                <input id="tok_id" name="tok_id" type="hidden" value=""/>
                <input id="mark_id" name="mark_id" type="hidden" value=""/>
                <input id="sense-id" name="sense-id" type="hidden" value="" />
            </div>
        </div>
    </div>
                    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/annotation.js') }}"></script>
    <script src="{{ asset('jquery/jquery-ui.js') }}"></script>    
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}


