{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('font-awesome/font-awesome.min.css') }}">
{% endblock stylesheets %}

{% block body %}
    
<div class="container">
    {% include 'misc/menu.html.twig' with {'link': 'home'} %}

    <h3>Categories</h3>
    <ul>
    {% for category in categories %}
        <li>
            <a href="{{ path("set_cat_to_annotate", {'id_doc' : id, 'id_cat': category[0].id} ) }}">{{ category[0].name }}</a>
            {% if category | length > 1 %}
                <ul>
                    {% for element in category[1:] %}
                        <li><a href="{{ path("set_cat_to_annotate", {'id_doc' : id, 'id_cat': element.id} ) }}">{{ element.name }}</a>:
                            {% for mark in element.markables %}
                                 {{ mark.text }}
                                 ({% if stats[ mark.text|lower ] is defined %}{{ stats[ mark.text|lower ] }}{% else %}?{% endif %})
                                 {% if not loop.last %},{% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %} 
    </ul>
</div>

{% endblock %}
