{# app/Resources/views/Annotator/select_text_annotate.html.twig #}

{% extends 'base_new.html.twig' %}

{% block stylesheets %}
    {{ parent() }}     
    <style>
        .dropdown-toggle {
            font-size: 60%;
        }
        .dropdown-menu {
            font-size: 10px;
            min-width: 0px;
        }
        #option-panel {
            position: sticky;
            top:20px;
        }
    </style>        
    <link rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" 
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" 
          crossorigin="anonymous"> 
    <link rel="stylesheet"
          href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
{% endblock stylesheets %}

{% block content %}        
<div class="row voffset3">
    <div class="col-md-8">
    <h3>Select the text you want to annotate</h3>
    <div id="texts">
    {% for text in corpus.texts %}
        <div class="in-a-box">
            <div class="dropdown float-right">
                {% if text.id in pinned %}
                    <i class="fas fa-thumbtack green" title="Text pinned"></i>
                {% endif %}

                 {% if text.id in done %}
                    <i class="fas fa-check green" title="Text done"></i>
                {% endif %}
                
                <button class="btn btn-outline-secondary dropdown-toggle left-margin-1em" 
                        type="button" id="dLabel{{text.id}}" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>
                    
                {% include 'Annotator/context_menu.html.twig' with {'text':text} %}                                
            </div>

            Title of text: <em>{{ text.title }}</em><br/>
            {% if text.description %}
                Description: <em>{{ text.description }}</em>
            {% endif %}
            <div class="voffset2">
                <a href="{{ path('document_show', {'id': text.id } ) }}" class="btn btn-outline-primary" role="button">Annotate</a>
                <a href="{{ path('select_mark', {'id': text.id } ) }}" class="btn btn-outline-primary" role="button">Annotate by marker</a>
                <a href="{{ path('select_category', {'id': text.id } ) }}" class="btn btn-outline-primary" role="button">Annotate by category</a>

                {% if is_granted('ROLE_ADMIN')  %}
                    <a href="{{ path('reannotate', {'id': text.id } ) }}" class="btn btn-outline-primary float-right" role="button">Re-process</a>
                {% else %}
                    <a href="{{ path('reannotate', {'id': text.id } ) }}" class="btn btn-outline-primary float-right disabled" role="button">Re-process</a>
                {% endif %}
            </div>
            {% if is_granted('ROLE_ADMIN')  %}
                {% include 'Annotator/who_marked_done.html.twig' %}
            {% endif %}
        </div>
    {% endfor %}
    </div>
    </div>
    <div class="col-md-3 voffset4">
        <div id="option-panel">
            <div class="checkbox voffset3">
                <input id="pinned-only" data-toggle="toggle" type="checkbox"> Pinned only
            </div>

            <div class="checkbox voffset3">
                <input id="done-only" data-toggle="toggle" type="checkbox"> Done only
            </div>            
            
            <div class="voffset5">
                <a href="{{ path('homepage') }}" class="btn btn-outline-primary" role="button">
                    <i class="fas fa-angle-double-left"></i> front page
                </a>
            </div>
            
            <div class="voffset3">
                <a href="{{ path('select-corpus') }}" class="btn btn-outline-primary" role="button">
                    <i class="fas fa-angle-double-left"></i> select corpus
                </a>
            </div>
        </div>       
    </div>
</div>    
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/corpus_operations.js') }}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}
