{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('font-awesome/font-awesome.min.css') }}">
{% endblock stylesheets %}

{% block body %}
    
<div class="container">
    {% include 'misc/menu.html.twig' with {'link': 'home'} %}

    <h3>Categories</h3>
    <ul>
    {% for category in categories %}
        <li>
            {{ category[0].name }}
            {% if category | length > 1 %}
                <ul>
                    {% for element in category[1:] %}
                        <li>{{ element.name }}:
                            {% for mark in element.markables %}
                                 <a class="select-mark" href="{{ path("set_mark_to_annotate", {'id_doc' : id, 'id_mark': mark.id} ) }}">{{ mark.text }}</a>
                                 ({% if stats[ mark.text ] is defined %}{{ stats[ mark.text ] }}{% else %}?{% endif %})
                                 {% if not loop.last %},{% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %} 
    </ul>
</div>

{% endblock %}
