{# app/Resources/views/Admin/admin_base.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('font-awesome/font-awesome.min.css') }}">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        {% include 'misc/menu.html.twig' with {'link': 'home'} %}
                
        <div class="row">
            <div class="col-md-8">                
                <div class = "panel-body">
                    <ul class="nav nav-tabs">
                        <li class="{{ active[0] }}"><a href="{{ path(links[0]) }}">Markers</a></li>
                        <li class="{{ active[1] }}"><a href="{{ path(links[1]) }}">Categories</a></li>
                        <li class="{{ active[2] }}"><a href="{{ path(links[2]) }}">Users</a></li>
                        <li class="{{ active[3] }}"><a href="{{ path(links[3]) }}">Various</a></li>
                    </ul>
                    
                    <div class="tab-content">                        
                        <div id="users-tab" class="tab-pane fade fade in active voffset2">
                            {% block settings_div %}
                            {% endblock %}                            
                        </div>                                
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
