{# app/Resources/views/Admin/corpus_display.html.twig #}

<div class="voffset3 with-border row row-list">
    <div class="col-xs-9">
        <strong>{{ corpus.name }}</strong><br/>
        {{ corpus.description | truncate(200) }}
        {% if corpus.description|length > 200 %}...{% endif %}
        <br/><br/>
        No of texts: {{ corpus.texts | length }} <br/>
        {% if corpus.statisticsoutdated %}
            Types: <span class="val-types">??</span>/Tokens: <span class="val-tokens">??</span>
            <div class="btn btn-default {% if is_granted('ROLE_ADMIN')  %}recalculate{% endif %}" 
               role="button" data-corpus="{{ corpus.id }}">
               <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </div>
        {% else %}
            Types: {{ corpus.numbertypes }}/Tokens: {{ corpus.numbertokens }}
        {% endif %}
        <div class="small voffset3">
            {% for pair in corpus.pairs %}
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>{{ pair.value.name }}&nbsp;
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-3 right">
        {% if not path %}
            <a href="{{ path('corpus_annotate', {'id': corpus.id }) }}" class="btn btn-default right" role="button">Annotate</a>
            <br/><br/>
            <a href="{{ path('admin_new_corpus', {'id': corpus.id } ) }}" 
               class="btn btn-default {% if not is_granted('ROLE_ADMIN')  %}disabled{% endif %}" 
               role="button">
               <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>                                    
            </a>
            <a href="{{ path('admin_corpus_delete', {'id': corpus.id }) }}" 
               class="btn btn-default confirmation {% if not is_granted('ROLE_ADMIN')  %}disabled{% endif %}" 
               role="button">
               <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>                                    
            </a>
            <br/>                            
        {% endif %}
        {% if path == "by-category" %}
            <a href="{{ path('statistics_by_category', {'corpus_id': corpus.id }) }}" class="btn btn-default" role="button">Select corpus</a>
        {% endif %}

        {% if path == "concordance" %}
            <a href="{{ path('enter_term', {'corpus_id': corpus.id }) }}" class="btn btn-default" role="button">Select corpus</a>
        {% endif %}
    </div>

</div>

