{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Domains</h3>
                
                <ul class="edit-list">
                {% for domain in domains %}
                    <li>
                        {% set extra_class = "" %}
                        {% if domain.disabled %}
                            <i class="fa fa-times"></i>
                            {% set extra_class = "faded" %}
                        {% endif %}
                        {% if domain.name == 'Any' %}
                            {{ domain.name }} : {{ domain.description }}
                        {% else %} 
                            <a class="{{ extra_class }} editable-link" href="/admin/domain/edit/{{ domain.id }}">
                                {{ domain.name }} : {{ domain.description }} <i class="">&nbsp;</i>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                <p><a class="btn btn-default" href="{{ path('admin_domain_add') }}" role="button">Add new domain &raquo;</a></p>
                
                <h3>Categories</h3>
                <ul>
                {% for category in categories %}
                    <li>
                        {{ category[0].name }}
                        {% if category | length > 1 %}
                            <ul>
                                {% for element in category[1:] %}
                                    <li>{{ element.name }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %} 
                </ul>
                <p><a class="btn btn-default" href="{{ path('admin_category_add') }}" role="button">Add new category &raquo;</a></p>
            </div>
            
            <div class="col-md-4">
                <h2>Texts</h2>
                
                {% for text in texts %}
                    <div>{{ text.title }}</div>
                {% endfor %}
                <p><a class="btn btn-default" href="{{ path('admin_text_add') }}" role="button">Add text &raquo;</a></p>
            </div>
            
            <div class="col-md-4">
                <h2>Markers</h2>
                
                {% for marker in markers %}
                    <div>{{ marker.text }}</div>
                {% endfor %}
                <p><a class="btn btn-default" href="{{ path('admin_marker_add') }}" role="button">Add marker &raquo;</a></p>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}