{# app/Resources/views/default/new_corpus.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        <div class="row voffset5"> 
            <div class="col-md-6">
                
                <div id="list-corpora">
                {% for corpus in corpora %}
                    <div class="voffset3">
                        <strong>{{ corpus.name }}</strong><br/>
                        {{ corpus.description | truncate(200) }} ...<br/>
                        No of texts: {{ corpus.texts | length }} <br/>
                        {% if not path %}
                            <a href="{{ path('admin_new_corpus', {'id': corpus.id } ) }}" class="btn btn-default" role="button">Edit</a>
                            <a href="{{ path('admin_corpus_delete', {'id': corpus.id }) }}" class="btn btn-default confirmation" role="button">Delete</a>                        
                            <a href="{{ path('corpus_annotate', {'id': corpus.id }) }}" class="btn btn-default" role="button">Annotate</a>
                        {% endif %}
                        {% if path == "by-category" %}
                            <a href="{{ path('statistics_by_category', {'corpus_id': corpus.id }) }}" class="btn btn-default" role="button">Select corpus</a>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
                
                {% if not path %}
                <div class="voffset5">
                    <a id="new-text" href="{{ path('admin_new_corpus') }}" class="btn btn-default" role="button">New corpus</a>
                </div>
                {% endif %}
                
            </div>
                
            <div class="col-md-4 col-md-offset-1">
                <h4>Filter conditions</h4>
                {% for char in chars %}
                    <div class="voffset2">
                    <strong>{{ char.name }}</strong>
                    {% for value in char.values %}
                        <input class="filter-value" type="checkbox" id="c{{ value.id }}">{{ value.name }}
                    {% endfor %}
                    </div>
                {% endfor %}
                <div class="voffset3">
                    <a id="filter-on-all" class="btn btn-default" role="button">Filter on all</a>
                    <a id="filter-on-any" class="btn btn-default" role="button">Filter on any</a>
                    <a id="reset-filters" class="btn btn-default" role="button">Reset filters</a>
                </div>
            </div>
        </div>
                
        <div class="row voffset5"> 
            <div class="col-md-8">
                <a href="{{ path('homepage') }}">Back to front page</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/filter_corpus.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
