{# app/Resources/views/default/new.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        <div class="row voffset4">
            <div class="center-block" style="width: 600px;">
        {{ form_start(form) }}
        
        {{ form_widget(form.text, { 'attr':{'placeholder':'Enter the metadiscourse marker', 'style':'font-size:250%; margin: 20px;'} }) }}        
            
        {{ form_widget(form.description, { 'attr':{'placeholder':'Enter a description for the metadiscourse marker', 'style':'margin: 20px;'} }) }}        
        
        {{ form_widget(form.categories) }}
        
        <div id="buttons">
            {{ form_widget(form.save, { 'attr':{'style':'margin: 20px; display: inline-block;'} }) }}        
            {% if in_edit_mode == 1 %}
                <div style="margin: 20px;display: inline-block"><a href="{{ path('admin_mark_delete', {'id_marker': mark_id}) }}" class="btn btn-default confirmation">Delete this marker? (use with great care!!!)</a></div>
            {% endif %}
            <div style="margin: 20px;display: inline-block"><a class="btn btn-default" href="{{ path('admin_page') }}">Back</a>
        </div>
        
        {{ form_widget(form) }}
        {{ form_end(form) }}
            </div>
        </div>
    </div>
        
    {% include 'Admin/categories/cat_tree.html.twig' with {'label_categories' : 'markable'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>    
        $('.confirmation').on('click', function () {
            return confirm('Are you sure you want to delete the marker? As a result you will also remove annotation that uses this marker. The operation is permanent.');
        });
    </script>    
    <script src="{{ asset('js/admin_marker.js') }}"></script>
{% endblock %}