{# empty Twig template #}

{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _sense_score_widget %}
    <label for="polarity">Default polarity:</label>
    <input type="text" size="2" id="polarity" readonly style="border:0; background-color: #f5f5f5; ">
    <div style="display: inline-block; padding-left: 2em;" id="slider"></div>
    <input style="display:none;" type="text" id="sense-score" name="sense[score]">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link href="{{ asset('css/spectrum.css') }}" rel="stylesheet">
    
    <style>
        .ui-slider .ui-slider-handle {
            height: 15px;
            width: 5px;
            padding-left: 5px; 
        }

        .ui-slider-horizontal {
            height: 8px;
            width: 200px;
        }   
        
        .popover{
            width:500px;
        }
    </style>
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        <div class="row voffset5"> 
            <div class="center-block" style="width: 700px;">
                    <div class="row">
                        <div class="col-xs-6">
                            <div style="font-size:250%;">{{ mark.text }}</div>
                            <div><em>{{ mark.description }}</em></div>
                        </div>
                        <div class="col-xs-6 with-border">
                            <strong>Alternative forms:</strong>
                            <div class="pull-right">
                                <a data-toggle="popover" 
                                   data-container="body"
                                   tabindex="0"
                                   role="button"
                                   data-trigger="focus"
                                   title="About alternative forms" 
                                   data-content="This option allows you to specify alternative
                                   forms for a given marker. These alternative forms can be
                                   morphological variations or something different which is 
                                   related to the current marker. During the annotation 
                                   alternative forms will have exactly the same options as
                                   the marker. To add one enter the text in the box below
                                   and press the 'Add form' button. To delete a form, 
                                   click on it and confirm the deletion. Any existing 
                                   annotation
                                   associated with the form is deleted as well."><i class="glyphicon glyphicon-question-sign pull-right" aria-hidden="true"></i></a>
                            </div>
                            
                            <div id="list-alternatives">
                            {% for alt in mark.alternatives|split('##') %}
                                {% if alt %}
                                    <div class="alternative">{{ alt }}</div>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <div class="voffset4 pull-right">
                                <input type="text" id="txt-alternative" size="15"> <a class="btn btn-default" id="add-alternative-button">Add form</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="row voffset4">
            <div class="center-block" style="width: 700px;">
                {% if mark.senses[0].definition %}               
                    <strong>Current senses:</strong>
                    {% include 'Admin/sense/display_formatted_senses.html.twig' with {'senses': mark.senses, 'mark_id': mark.id} %}
                {% else %}
                    <strong>There are no senses yet!</strong>
                {% endif %}
            </div>
        </div>        
            
        <hr width="75%" align="center"/>                
        
        <div class="row voffset3">
            <div class="center-block" style="width: 700px;">
                <h3>{{ message }}</h3>
                
                {{ form_start(form) }}
                {{ form_row(form.definition) }}
                {{ form_row(form.explanation) }}
                {{ form_widget(form.score) }}    
                {{ form_widget(form.categories) }}
                <div class="voffset3">
                    <strong>Text color</strong>: {{ form_widget(form.fgColor, { 'attr':{'style':'margin: 20px; display: inline-block;'} }) }}
                    <strong style="margin-left: 4em;">Background color</strong>: {{ form_widget(form.bgColor, { 'attr':{'style':'margin: 20px; display: inline-block;'} }) }}
                    <div id="preview" style="margin-left: 2em; display: inline-block; font-size: 175%;" class="pull-right">Preview</div>
                </div>
                <div class="voffset4-5 text-right">
                    {% set currentPath = path(app.request.attributes.get('_route'),
                                              app.request.attributes.get('_route_params')) %}
                    
                    {{ form_widget(form.save, { 'attr':{'style':'margin: 10px 10px 10px 0; display: inline-block;'} }) }}                    
                    <a style="margin: 10px; display: inline-block;" class="btn btn-default" href=" {{ path('admin_sense_add', {'id_marker': mark.id}) }} ">Discard changes</a>
                    {% if delete_button == 1 %}
                        <div style="margin: 10px; display: inline-block;">
                            <a href="{{ path('admin_sense_delete', {'id_marker': mark.id, 'id_sense': initial_sense.id}) }}" class="btn btn-default confirmation red">Delete this sense (use with care!!!)</a>
                        </div>
                    {% endif %} 
                    <a style="margin: 10px 0 10px 10px; display: inline-block;" class="btn btn-default" href=" {{ path('admin_page') }} ">Back to admin</a>
                </div>
                {{ form_end(form) }}
                               
            </div>
        </div>
    </div>            
                
    {% include 'Admin/categories/cat_tree.html.twig' with {'label_categories' : 'sense'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/spectrum.js') }}"></script>    
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('js/admin_marker.js') }}"></script>
    <script>
        $("#sense_bgColor").val('{{ initial_sense.bgcolor }}');
        $("#sense_bgColor").spectrum({
            color: "{{ initial_sense.bgcolor }}",
            preferredFormat: 'hex',
            showPaletteOnly: true,
            togglePaletteOnly: true,
            clickoutFiresChange: true,
            showSelectionPalette: true,
            localStorageKey: "spectrum.homepage",
            palette: [
                ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
                ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
                ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
                ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
                ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
                ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
                ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
                ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
            ],
            change: function(color) {
                $("#preview").css('background-color', color.toHexString());
            }
        });
                
        $("#sense_fgColor").val('{{ initial_sense.fgcolor }}');
        $("#sense_fgColor").spectrum({
            color: "{{ initial_sense.fgcolor }}",
            preferredFormat: 'hex',
            showPaletteOnly: true,
            togglePaletteOnly: true,
            clickoutFiresChange: true,
            showSelectionPalette: true,
            localStorageKey: "spectrum.homepage",
            palette: [
                ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
                ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
                ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
                ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
                ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
                ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
                ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
                ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
            ],
            change: function(color) {
                $("#preview").css('color', color.toHexString());
            }
        });
    
        $(function() {
            $( "#slider" ).slider({
                value: {{ initial_sense.score }},
                min: -5,
                max: 5,
                step: 1,
                slide: function( event, ui ) {
                    $( "#polarity" ).val( ui.value );
                    $( "#sense-score" ).val( ui.value );
                }
            });
            $( "#polarity" ).val( $( "#slider" ).slider( "value" ) );
            $( "#sense-score").val( $( "#slider" ).slider( "value" ) );
        });
        
        $("#preview").css('background-color', "{{ initial_sense.bgcolor }}");
        $("#preview").css('color', "{{ initial_sense.fgcolor }}");
        
        $('.confirmation').on('click', function () {
            return confirm('Are you sure you want to delete the sense? As a result you will also remove annotation that uses this sense. The operation is permanent.');
        });
        
        var id_marker = {{ mark.id }};
        
   </script>
{% endblock %}
