{# app/Resources/views/default/new_corpus.html.twig #}

{% extends 'base_new.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="row voffset5"> 
    <div class="col-md-8">

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}           
    </div>
</div>
{% endblock %}
