{# app/Resources/views/FrontPage/index.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link href="{{ asset('css/front_page.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        {% include 'misc/menu.html.twig' with {'link': 'none'} %}
                
        <div class="row voffset5">
            <div class="col-md-3">                
                {% if is_granted('ROLE_ADMIN')  %}
                    <div class="options upload"><a href="{{ path('select-corpus') }}">Manage corpora</a></div>
                {% else %}
                    <div class="options upload">Manage corpora</div>
                {% endif %}
            </div>            
            <div class="col-md-3 col-md-offset-2">
                {% if is_granted('ROLE_USER')  %}
                    <div class="options annotate"><a href="{{ path('select-corpus') }}">Annotate corpus</a></div>
                {% else %}
                    <div class="options annotate">Annotate corpus</div>
                {% endif %}
            </div>
        </div>
                
        <div class="row voffset5">
            <div class="col-md-3">
                <div class="options analyse"><a href="/search">Analyse corpus</a></div>
            </div>
            
            <div class="col-md-3 col-md-offset-2">
                {% if is_granted('ROLE_ADMIN')  %}
                <div class="options configure-system"><a href="/admin">Configure settings</a></div>
                {% else %}
                <div class="options configure-system">Configure settings</div>
                {% endif %}                
            </div>
        </div>
                
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}

