{# empty Twig template #}

<ol>
    {% for sense in senses %}
        {% if sense.id %}
            <li class="sense">
                <span style="color:{{ sense.fgcolor}};background-color:{{ sense.bgcolor}};">            
                    <a href="{{ path('admin_sense_edit', {'id_marker': mark_id, 'id_sense': sense.id}) }}">{{ sense.definition }}</a>            
                </span>:
                {{ sense.explanation }} (Default score: {{ sense.score }}
                {% if sense.categories | length > 0 %}, Default category: {{ sense.categories[0].name }}{% endif %})
            </li>   
        {% endif %}
    {% endfor %}
</ol>
