{# app/Resources/views/Admin/users/list_categories.html.twig #}

{% extends 'Admin/admin_base.html.twig' %}

{% block settings_div %}
    <div class="voffset3"><a class="btn btn-default" href="{{ path('admin_category_add') }}" role="button">Add new category &raquo;</a></div>
    </div>
    <ul class="voffset3">
    {% for category in categories %}
        <li>
            <a href="{{ path('admin_category_edit', {'id_category': category[0].id}) }}">{{ category[0].name }}</a>
            {% if category | length > 1 %}
                <ul>
                    {% for element in category[1:] %}
                        <li>
                            <a href="{{ path('admin_category_edit', {'id_category': element.id}) }}">{{ element.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %} 
    </ul> 
{% endblock %}
