{# app/Resources/views/Admin/marker/marker_report.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('font-awesome/font-awesome.min.css') }}">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        {% include 'misc/menu.html.twig' with {'link': 'home'} %}
                
        <div class="row">
            <div class="col-md-8">                
                <div class = "panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#markers-tab">Markers</a></li>
                        <li><a href="{{ path("admin_cat_list") }}">Categories</a></li>
                        <li><a href="{{ path('admin_user_list') }}" >Users</a></li>
                        <li><a data-toggle="tab" href="#operations-tab">Various</a></li>
                    </ul>
                    
                    <div class="tab-content">                        
                        <div id="markers-tab" class="tab-pane fade fade in active voffset2">
                            <div class="voffset3">
                                <h3>Report for the current markers</h3>
                            </div>
                            <div class="voffset3">
                                {% for initial, markers in groupped_markers %}
                                    <h4>{{ initial }}</h4>
                                    <div style="margin-left:4em;">
                                    {% for marker in markers %}
                                        <div style="padding-bottom: 0.5em;">
                                        <a href="{{ path('admin_marker_edit', {'id': marker.id}) }}">{{ marker.text }}</a>: {{ marker.description }}<br/>
                                        <strong>Categories</strong>
                                        {% for cat in marker.categories %}
                                            {{ cat.name }}{% if not loop.last %},{% endif %}
                                        {% endfor %}<br>
                                        <strong>Senses</strong>
                                        <ul>
                                            {% for sense in marker.senses %}
                                            <li>
                                                <span style="color:{{ sense.fgcolor}};background-color:{{ sense.bgcolor}};">{{ sense.definition }}</span>:
                                                {{ sense.explanation }} (Default score: {{ sense.score }}
                                                {% if sense.categories | length > 0 %}, Default category: {{ sense.categories[0].name }}{% endif %})
                                            </li>    
                                            {% endfor %}
                                        </ul>
                                        </div>
                                    {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>                                                                       
                   
                        <div id="operations-tab" class="tab-pane fade voffset2">
                            <a href="/admin_new">Define the characteristics of the corpus</a><br/>
                            <a href="/">Back to front page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
                {#
                <h3>Domains</h3>
                
                <ul class="edit-list">
                {% for domain in domains %}
                    <li>
                        {% set extra_class = "" %}
                        {% if domain.disabled %}
                            <i class="fa fa-times"></i>
                            {% set extra_class = "faded" %}
                        {% endif %}
                        {% if domain.name == 'Any' %}
                            {{ domain.name }} : {{ domain.description }}
                        {% else %} 
                            <a class="{{ extra_class }} editable-link" href="/admin/domain/edit/{{ domain.id }}">
                                {{ domain.name }} : {{ domain.description }} <i class="">&nbsp;</i>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                <p><a class="btn btn-default" href="{{ path('admin_domain_add') }}" role="button">Add new domain &raquo;</a></p>
                <p><a class="btn btn-default" href="{{ path('admin_domain_export') }}" role="button">Export domains to file&raquo;</a></p>
                <p><a class="btn btn-default" id="import-domains" role="button">Import domains to file&raquo;</a></p>
                <form id="import-domains-form" action="{{ path('admin_domain_import') }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="submit">
                    <input type="reset" value="Cancel" id="import-domains-cancel">
                </form>
                
                
                
                
            </div>
            
            <div class="col-md-4">
                <h2>Texts</h2>
                
                {% for text in texts %}
                    <div>{{ text.title }}</div>
                {% endfor %}
                <p><a class="btn btn-default" href="{{ path('admin_text_add') }}" role="button">Add text &raquo;</a></p>
            </div>
                        #}                
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}
