{# app/Resources/views/Report/annotation_statistics.html.twig #}

{% extends 'base_new.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/search.css') }}" rel="stylesheet">
    <style>
        #option-panel {
            position: sticky;
            top:20px;
        }
    </style> 
{% endblock stylesheets %}

{% block content %}
<div class="row voffset3">
    <div class="col-md-8 col-md-offset-2">
        <div>
            <h3>The statistics are from <strong>{{ search_scope }}</strong></h3>
            
            <div class="voffset4" id="results">            
            {% for mark, m_stats in stats %}
                <h5 class="voffset2">
                    {{mark}}: {{m_stats["total"]}} 
                    {% if m_stats["total"] > 0 %}
                        <a href="{{ path('get_concordances', {'id': corpus_id, 'marker':m_stats.id }) }}"><i class="fas fa-angle-double-right"></i></a>
                    {% endif %}
                </h5>
                <div style="margin-left: 1em; margin-bottom: 0.75em;">
                {% for sense, s_stats in m_stats%}
                    {% if sense != "total" and sense != "id"%}
                        <strong>Sense:</strong> {{ sense }}: {{ s_stats["total"] }} 
                        {% if s_stats["total"] > 0 %}
                            <a href="{{ path('get_concordances', {'id': corpus_id, 'marker':m_stats.id, 'sense':m_stats[sense]["sense"] }) }}"><i class="fas fa-angle-double-right"></i></a>
                        {% endif %}
                        <div style="margin-left: 1em; margin-bottom: 0.75em;">
                        {% for user, freq in m_stats[sense] %}
                            {% if user != "total"  and user != "sense" %}
                                {{ user }}, {{ freq }} 
                                <a href="{{ path('get_concordances', {'id': corpus_id, 'marker':m_stats.id, 'sense':m_stats[sense]["sense"], 'user':user }) }}">
                                    <i class="fas fa-angle-double-right"></i><br/>
                                </a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}            
            </div>
        </div>
        <br/>
    </div>
    <div class="col-md-1 voffset3">
        <div id="option-panel">
            <div class="voffset4">
                <a href="" onclick="window.history.go(-1); return false;" class="btn btn-outline-primary" role="button">
                    <i class="fas fa-angle-double-left"></i> Select marker
                </a>
            </div>
            
            <div class="voffset4">
                <a href="{{ path('homepage') }}" class="btn btn-outline-primary" role="button">
                    <i class="fas fa-angle-double-left"></i> Front page
                </a>
            </div>
            
            <div class="voffset4">
                <a href="{{ path('select-corpus') }}" class="btn btn-outline-primary" role="button">
                    <i class="fas fa-angle-double-left"></i> Select corpus
                </a>
            </div>
        </div>       
    </div>
</div>
                
{% endblock %}
