{# app/Resources/views/Report/annotation_statistics.html.twig #}

{% extends 'base_new.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/search.css') }}" rel="stylesheet">
    <style>
        #results h3 {
            margin-top: 0.5em;;
            width: 100%;
            border-bottom: thin black solid;
        }
    </style> 
{% endblock stylesheets %}

{% block content %}
<div class="row voffset3">
    <div class="col-md-6">
        <div>
            <h3>Annotated markers from <strong>{{ search_scope }}</strong></h3>
            <div class="voffset3" id="results">
            {% for section, stats in sections %}
                <a name="{{section}}"/><h3>{{ section }}</h3>
                <div style="margin-left: 1em;">
                {% for mark in stats %}
                    <h5 class="voffset2"><a href="{{ path('report_corpus', {'id': corpus_id, 'marker': mark[2]}) }}">{{mark[0]}}</a>: {{mark[1]}}</h5>
                {% endfor %}            
                </div>
            {% endfor %}      
            </div>
        </div>
        <br/>
    </div>
        
    <div class="col-md-3 offset-md-2 voffset3">
        <div id="option-panel">
            <div class="voffset5">
                <h3>Jump to</h3>
                {% for section, stats in sections %}
                    <a href="#{{section}}" style="margin: 5px;" class="btn btn-outline-primary" role="button">{{ section }}</a>
                {% endfor %}                
            </div>
            
            <div class="voffset4">
                <a href="{{ path('homepage') }}" class="btn btn-outline-primary" role="button">
                    <i class="fas fa-angle-double-left"></i> front page
                </a>
            </div>
            
            <div class="voffset3">
                <a href="{{ path('select-corpus') }}" class="btn btn-outline-primary" role="button">
                    <i class="fas fa-angle-double-left"></i> select corpus
                </a>
            </div>
        </div>       
    </div>
</div>
                
{% endblock %}
