{# app/Resources/views/Report/show_concordances.html.twig #}

{% extends 'base_new.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ path('annotation_css') }}" rel="stylesheet">
    <link href="{{ asset('css/reports/concordances.css') }}"  rel="stylesheet">
    <style>
        /* From: https://stackoverflow.com/a/3617657 */
        #loading {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            display: block;
            opacity: 0.9;
            background-color: #fff;
            z-index: 99;
            text-align: center;
        }

        #loading-image {
            margin-top: 10em;
            z-index: 100;
            width: 600px;
            opacity: 1;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<div id="loading">
  <img id="loading-image" src="/loading.webp" alt="Loading..." />
</div>

<div class="row voffset3">
    <div class="col-md-10">
        <div id="concordances-block">
            <h3>Concordances from <strong>{{ search_scope }}</strong></h3>
            
            <div class="voffset4" id="results">
            {% for concordances in grouped_concordances %}
                {% if concordances|length > 1 %}<div class="common">{% endif %}
                {% for row in concordances %}
                    <div class="concordance">                    
                        <div class="left-context"><div>{{ row.concordance[0] }}</div></div> 
                        <div class="keyword"><div class="sense{{row.style}}">{{ row.concordance[1] }}</div></div> 
                        <div class="right-context"><div>{{ row.concordance[2] }}</div></div>                    
                        <div id="{{ row.id }}" class="details float-right"><i class="fas fa-plus"></i><i style="display:none;" class="fas fa-minus"></i></div>
                        <div class="more-info"></div>
                    </div>                    
                {% endfor %}
                {% if concordances|length > 1 %}</div>{% endif %}
            {% endfor %}
            </div>
        </div>
            
        <div id="collocations-block" style="display: none;">
            <table class="table" style="font-size: 75%; text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">-5</th>
                        <th scope="col">-4</th>
                        <th scope="col">-3</th>
                        <th scope="col">-2</th>
                        <th scope="col">-1</th>
                        <th scope="col">Keyword</th>
                        <th scope="col">+1</th>
                        <th scope="col">+2</th>
                        <th scope="col">+3</th>
                        <th scope="col">+4</th>
                        <th scope="col">+5</th>                        
                </thead>
                {% for i in range(0, 9) %}
                    <tr>
                        {% for j in range(0, 10) %}
                            <td id="r{{i}}-c{{j}}"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>           
            
    <div class="col-md-2">
        <div id="option-panel">
            <div class="form-group">
                <label for="filter-text">Filter by</label>
                <input type="text" class="form-control" id="filter-text" placeholder="The filter word">
                <a href="" id="filter-text-btn" type="button" class="btn btn-outline-primary" role="button">Filter</a>
                <a href="" id="filter-clear-btn" type="button" class="btn btn-outline-primary" role="button">Clear</a>
            </div>
            
            <div class="form-group">
                <label for="sort-position">Sort by</label>
                <select id="sort-position" class="form-control">
                    <option selected>Choose...</option>
                    <option value="-3">3rd word left</option>
                    <option value="-2">2nd word left</option>
                    <option value="-1">1st word left</option>
                    <option disabled>-------------</option>
                    <option value="1">1st word right</option>
                    <option value="2">2nd word right</option>
                    <option value="3">3rd word right</option>
                </select>
            </div>
            
            <div class="voffset4">
                <a href="#" id="show-collocates" class="btn btn-outline-primary" role="button" style="display: none;">Show collocations</a>
                <a href="#" id="hide-collocates" class="btn btn-outline-primary" role="button" style="display: none;">Hide collocations</a>
            </div>
            
            <div class="voffset4">
                <a href="" onclick="window.history.go(-1); return false;" class="btn btn-outline-primary" role="button">
                    <i class="fas fa-angle-double-left"></i> Back to statistics
                </a>
                <a href="{{ path('homepage') }}" class="btn btn-outline-primary" role="button">
                    <i class="fas fa-angle-double-left"></i> Front page
                </a>

                <a href="{{ path('select-corpus') }}" class="btn btn-outline-primary" role="button">
                    <i class="fas fa-angle-double-left"></i> Select corpus
                </a>
            </div>
        </div>       
    </div>
</div>
                            
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/concordancer.js') }}"></script>
{% endblock %}
