{# app/Resources/views/Report/show_concordances.html.twig #}

{% extends 'base_new.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ path('annotation_css') }}" rel="stylesheet">
    <style>
        .left-context {
            width: 375px;
            display: inline-block;
        }
        .left-context div {
            overflow:hidden;
            width: 100%;
            white-space: nowrap;
            text-align: right;
        }
        
        .keyword {
            display: inline-block;
            font-weight: bold; 
        }
        
        .keyword div {
            overflow:hidden;
            width: 100%;
            white-space: nowrap;
            text-align: center;
        }
        
        .right-context {
            width: 375px;
            display: inline-block;
        }
        
        .right-context div {
            overflow:hidden;
            width: 100%;
            white-space: nowrap;
            text-align: left;
        }       
        
        .concordance {
            counter-increment: line;
            margin: 6px;
            width: 100%;
        }
        
        .concordance:before {
            content: counter(line) ".";
            vertical-align: top;
            margin: 6px 1em;
            width: 30px;
            text-align: right;
            display: inline-block;
        }
        
        .details {
            display: inline-block;
        }
                
        #results {
            counter-reset: line;
        }
        
        .common {
            border-left: thick blue solid;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<div class="row voffset3">
    <div class="col-md-10">
        <div>
            <h3>Concordances from <strong>{{ search_scope }}</strong></h3>
            
            <div class="voffset4" id="results">
            {% for concordances in grouped_concordances %}
                {% if concordances|length > 1 %}<div class="common">{% endif %}
                {% for row in concordances %}
                    <div class="concordance">                    
                        <div class="left-context"><div>{{ row.concordance[0] }}</div></div> 
                        <div class="keyword"><div class="sense{{row.style}}">{{ row.concordance[1] }}</div></div> 
                        <div class="right-context"><div>{{ row.concordance[2] }}</div></div>                    
                        <div id="{{ row.id }}" class="details float-right"><i class="fas fa-search-plus"></i></div>
                        <div class="more-info"></div>
                    </div>                    
                {% endfor %}
                {% if concordances|length > 1 %}</div>{% endif %}
            {% endfor %}
            </div>
        </div>
        <br/>
    </div>
</div>
                
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/concordancer.js') }}"></script>
{% endblock %}