{# app/Resources/views/Search/search_term.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link href="{{ asset('css/search.css') }}" rel="stylesheet">
    <link href="{{ path('annotation_css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        <div class="row header">
            <div class="col-md-8 col-md-offset-2 highlighted">
                <p class="text-right">
                    {% if app.user %}
                        Hello {{ app.user }}!
                    {% else %}
                        <a href="/login">Login</a>
                    {% endif %}
                </p>
            </div>
        </div>
    
        <div class="row voffset3">
            <div class="col-md-8 col-md-offset-2">
                <h3>The search results for "{{ term }}"</h3>
                <div>{{ message }}</div>
                <table>          
                {% set counter = 1 %}
                {% for result in search_results %}
                    <tr>
                        <td style="padding-right:5px;">{{ counter }}.</td>
                        <td style="max-width: 335px; text-align: right; padding-right: 5px;">
                            <span class="concordance-left">{{ result[2][0] }}</span>
                        </td>
                        <td><span class="sense{{ result[1] }}"> {{ result[2][1] }}</span></td>
                        <td style="max-width: 335px; text-align: left; padding-left: 5px;">
                            <span class="concordance-right">{{ result[2][2] }}</span>
                        </td>
                        <td style="padding-left:25px;"><a id="{{ result[0] }}" class="concordance"> +</a></td>
                    </tr>
                    <tr class="more-info"><td class="more-info-block" colspan="4"></td></tr>
                    {% set counter = counter + 1 %}
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
                
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}