{# app/Resources/views/Search/search_term.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/general.css') }}" rel="stylesheet">
    <link href="{{ asset('css/search.css') }}" rel="stylesheet">
    <link href="{{ path('annotation_css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        <div class="row header">
            <div class="col-md-8 col-md-offset-2 highlighted">
                <p class="text-right">
                    {% if app.user %}
                        Hello {{ app.user }}!
                    {% else %}
                        <a href="/login">Login</a>
                    {% endif %}
                </p>
            </div>
        </div>
    
        <div id="results" class="row voffset3">
            <div class="col-md-8 col-md-offset-2">
                {% autoescape 'html' %}
                <h3>The search results for {{ message}}</h3>
                {% endautoescape %}
            </div>
            
            <div class="voffset3 text-center">
                {% if stats_for == "category" %}
                    {{ render_hinclude(controller(
                            'AppBundle:Search:searchCategoryIntern', 
                            {'corpus_id': corpus_id, 'category_id': parameter_to_controller}), 
                            {'default': 'misc/wait.html.twig'}) 
                    }}
                {% endif %}
                
                {% if stats_for == "term" %}
                    {{ render_hinclude(controller('AppBundle:Search:searchTermIntern', 
                            {'term': parameter_to_controller, 'corpus_id': corpus_id }), 
                            {'default': 'misc/wait.html.twig'}) }}
                {% endif %}
            </div>
        </div>
    </div>
                
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/search.js') }}"></script>
    <script src="{{ asset('js/hinclude.js') }}"></script>
{% endblock %}